#Environment
.env 
.venv/
venv/

#Python cache
__pycache__/
*.py[cod]
*.pyo 

#Django stuff
db.sqlite3
*.log

#static & media
staticfiles/
media/

#IDE / Editor
.vscode/
.idea/

#System files
.DS_store
Thumbs.db

#Docker
*.pid